
/* Your CSS Code here. */
.holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px; 
    width: 300px; 
    height: 300px; 
    border: 2px solid black;
}
